

<div *ngIf ="errorMessage"class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>

<div class="container">
    <div class="row">
        <div class="span5">
            <table class="table table-striped table-condensed">
                  <thead>
                  <tr>
                      <th>Method  of Paymethod</th>
                      <th>Game Units</th>
                      <th>transcationID</th>
                      <th>Code</th>
                      <th>Date</th>
                      <!-- <th>Action</th>                                         -->
                  </tr>
              </thead>   
              <tbody>
                <tr  *ngFor="let item of ItemsArray">
                    <td>

                        <img *ngIf ="item.method =='paypal'" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-small.png" alt="Buy now with PayPal" />
                        <!-- {{item.method}} -->


                    </td>
                    <td>

                        
                        {{item.units}}


                    </td>
                    <td>

                        
                        {{item.transcationID}}


                    </td>
                    <td>

                        
                        {{item.Unicode}}


                    </td>
                    <td>

                        
                        {{item.created}}


                    </td>
                
        
                    <!-- <td>
                            <div class="btn-group show-on-hover">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul  class="dropdown-menu" role="menu">
                                      <li><a   (click)="view(item.Document)"value ="Super Admin">Document</a></li>
                                      <li><a  (click)="addAction(item.Email,'ap')"value ="Admin Manage">Approve</a></li>
                                      
                                  
            
                                    </ul>
                                  </div>
                    </td> 
                                                     -->
                </tr>
         
          
              
                                              
              </tbody>
            </table>
           
            </div>
    </div>


