<app-menu></app-menu>
<div class="container-align">
    <div class="container-fluid">
        <div class="nav-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item"><a href="#">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Manages</li>
                </ol>
                <button class="btn btn-sm btn-outline-dark breadcrumbAddButton" (click)="openModal(template)"><i
                        class="fa fa-plus-circle"></i>Add User
                </button>
                <button class="btn btn-sm btn-outline-dark breadcrumbPrintButton">Print</button>
                <div class="input-group breadcrumbSearchInput col-sm-3">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="d-inline-block"><small><strong>Show entries per page</strong></small></label>
                <select class="custom-select mt-2 mb-2" style="width: auto" name="pageSize">
                    <option [ngValue]="2">1</option>
                    <option [ngValue]="4">2</option>
                    <option [ngValue]="6">3</option>
                </select>
            </div>
            <div class="btn-toolbar mt-2 ml-2" role="toolbar" aria-label="Toolbar with button groups">
                <label class="d-inline-block"><small><strong>Choose Backup Date/s</strong></small></label>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary mx-2">From Date</button>
                    <button type="button" class="btn btn-secondary">To Date</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary mx-2">Backup</button>
                    <button type="button" class="btn btn-secondary mx-2">Excel</button>
                    <button type="button" class="btn btn-secondary mx-2">PDF</button>
                    <button type="button" class="btn btn-secondary mx-2">CSV</button>
                    <button type="button" class="btn btn-secondary mx-2">Graph</button>
                </div>
            </div>
        </div>
        <div class="check-boxes-background-color">
            <div class="form-check-inline col-sm-1 userNumber-checkbox-align">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
            <div class="form-check-inline col-sm-1 manager-checkbox-align">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
            <div class="form-check-inline col-sm-1 name-checkbox-align">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
            <div class="form-check-inline col-sm-1 surname-checkbox-align">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
            <div class="form-check-inline col-sm-1 role-checkbox-align">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
            <div class="form-check-inline col-sm-1 email-checkbox-align">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
            <div class="form-check-inline col-sm-1 date-created-checkbox-align">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
            <div class="form-check-inline col-sm-1 date-last-checkbox-align">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
            <div class="form-check-inline col-sm-1">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">
                </label>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span5">
                    <table class="table table-sm table-striped sortable">
                        <thead class="thead-dark">
                        <tr>
                            <th>User No</th>
                            <th>Manager ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Role</th>
                            <th>Email</th>
                            <th>Date & Time Created</th>
                            <th>Date & Time Last Active</th>
                            <th>Country & City</th>
                            <th style="width:10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of managerArray">
                            <td>{{item?.userID}}</td>
                            <td>{{item?.ManagerID}}</td>
                            <td>{{item?.Name}}</td>
                            <td>{{item?.Surname}}</td>
                            <td>{{item?.RoleTag}}</td>
                            <td >{{item?.Email}}</td>
                            <td>{{item?.created | date:'d/M/yy  HH:mm'}}</td>
                            <td>{{item?.lastusedDate | date:'d/M/yy  HH:mm'}}</td>
                            <td>{{item?.Country}} {{item?.City}}</td>
                            <td style="width:10%">
                                <div>
                                    <a class="edit" (click)="openEdit(dtBasicExample, item)">Edit</a> | <a href="#" class="deleteColor">Delete</a>
                                </div>
                                <a (click)="openViewMore(dtViewMore, item)" class="viewMoreColor">View More</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                            <ng-template ngbPaginationPrevious>Prev</ng-template>
                            <ng-template ngbPaginationNext>Next</ng-template>
                            <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Add User</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="name">Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="surname">Surname</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="email">Email</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="repeatEmail">Retype Emai</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="password">Password</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="repeatPassword">Retype Password</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
    </ng-template>
</div>
<ng-template #dtBasicExample>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body mx-3">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="editUserNo">User No</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="editContent.userID" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="EditManagerId">Manager ID</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="editContent.userID" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="editName">Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" [(ngModel)]="editContent.Name"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="editSurname">Surname</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="editContent.Surname" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="editRole">Role</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="editContent.RoleTag" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="editDateCreated">Date & Time Created</span>
                </div>
                <input type="text" class="form-control" [ngModel]="editContent.created  | date:'d/M/yy  HH:mm'"
                       aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="editDateTimeLastActive">Date & Time Last Active</span>
                </div>
                <input type="text" class="form-control" [ngModel]="editContent.lastusedDate  | date:'d/M/yy  HH:mm'"
                       aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="editCity">City</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="editContent.City" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="editCountry">Country</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="editContent.Country" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center editInsideWrapper">
            <button class="btn btn-outline-secondary btn-block editInside" data-dismiss="modal">Edit
                form
                <i class="fa fa-pencil"></i>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #dtViewMore>
    <div class="modal-header">
        <h4 class="modal-title pull-left">View More form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body mx-3">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="viewUserNo">User No</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="viewMoreContent.userID" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="viewManagerId">Manager ID</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="viewMoreContent.userID" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="viewName">Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" [(ngModel)]="viewMoreContent.Name"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="viewSurname">Surname</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="viewMoreContent.Surname" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="viewRole">Role</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="viewMoreContent.RoleTag" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="viewDateCreated">Date & Time Created</span>
                </div>
                <input type="text" class="form-control" [ngModel]="viewMoreContent.created  | date:'d/M/yy  HH:mm'"
                       aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="viewDateTimeLastActive">Date & Time Last Active</span>
                </div>
                <input type="text" class="form-control" [ngModel]="viewMoreContent.lastusedDate  | date:'d/M/yy  HH:mm'"
                       aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="viewCity">City</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="viewMoreContent.City" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="viewCountry">Country</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="viewMoreContent.Country" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
    </div>
</ng-template>
